<head>
  <title><%= lastPrice %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<h1>My Bitcoin Site</h1>
<div>
  <a class="btn btn-primary" href="/">Home</a>
  <a class="btn btn-primary" href="/brain">Brain Wallet</a>
  <a class="btn btn-primary" href="/converter">Converter</a>
</div>
